*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.greeting {
  padding: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.table-row {
  padding: 1em 2em;
}

.table-row label {
  display: block;
  margin-bottom: 1em;
  font-size: 1.2em;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5em;
  border: 2px solid;
  padding: 1em;
  font-size: 1.5em;
}

input {
  width: 100%;
}

input.error {
  border-color: #d91e26;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 2em;
}

button[type=reset],
.secondary {
  color: dimgrey;
}

label.error {
  margin-bottom: 0;
  padding-top: 0.5em;
  color: #d91e26;
}

.types {
  display: flex;
  flex-wrap: wrap;
}

label.type {
  padding: 1em;
  border: 2px solid;
  border-radius: 0.5em;
  font-size: 1.3em;
  position: relative;
  flex: 1;
  margin: 0 1em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.types input.error + label {
  border-color: #d91e26;
}

.type:last-child {
  margin-right: 0;
}

.types input {
  display: none;
}

.types input:checked + .type {
  background: #d91e26;
}

.types input:checked + .type:nth-of-type(2) {
  background: #4f9ed7;
}

.types input:checked + .type:nth-of-type(3) {
  background: #fdb811;
}

.types input:checked + .type:nth-of-type(4) {
  background: #70bd42;
}

.types label.error {
  order: 2;
  width: 100%;
}

.actions {
  display: flex;
  padding: 1em 2em 0;
}

.actions button:first-child {
  flex-basis: 40%;
  margin-right: 1em;
}

.actions button:last-child {
  flex-basis: 60%;
}
/* h2 {
  margin: 1em 0 0;
  font-size: 1em;
}

.ui-accordion {
  flex: 1;
}

.ui-accordion-header {
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  margin: 1em 1em 0;
  padding: 1em;
  border-radius: 10px;
}

.ui-accordion-header-active {
  position: relative;
  box-shadow: none;
}

.ui-accordion-content {
  background: #fff;
  transition: all ease-in-out 0.3s;
  transition-property: padding, margin;
  margin: -4em 1em 0;
  padding: 4em 1em 1em;
}

.ui-accordion-content-active {
  display: flex !important;
  border-radius: 10px;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.centered-flow-block {
  flex: 1;
  display: flex;
}

.centered-flow-block-column {
  flex-direction: column;
} */

.note {
  font-size: 1.2em;
}

.signout {
  padding: 1em;
}

.signout .table-row {
  flex: 1;
}

.successpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #149f20;
  color: #fff;
  font-size: 1.5em;
  padding: 1em;
}

.successpage a {
  color: #fff;
}

.secondsleft {
  display: block;
  font-size: 2em;
}

.icon {
  width: 200px;
  fill: white;
}

.separator {
  border: 1px solid grey;
  position: relative;
  margin: 3em 0;
}

.separator span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1em;
  background: #fff;
  font-size: 2em;
  color: grey;
}
